.chathead{
/*    width: 150px;*/
/*    height: 150px;*/
/*    border-radius: 75px;*/
/*    border: 4px solid #FFFFFF;*/
/*    box-shadow: 1px 1px 5px rgba(0,0,0,.5);*/
/*    position: absolute;*/
/*    right: -10px;*/
} 