h2{
      clear: both;
}

.content{
   text-align: right;
}

.chathead-multiple{
      float: right;
      width: 150px;
      height: 150px;
      border-radius: 75px;
      border: 4px solid #FFFFFF;
      box-shadow: 1px 1px 5px rgba(0,0,0,.5);
      overflow: hidden;
      position: relative;
      z-index: 10;
      -webkit-shape-outside: circle(50%, 50%, 60%);  
}

.chathead-multiple img{
      display: none;
      margin: 0;
      z-index: 1;
}

.chathead-multiple img:nth-child(-n+3) {
   display: block;
   width: 75px;
   height: 75px;
   display: inline-block;
   position: absolute;
}

.chathead-multiple img:first-child {
   width: 150px;
   height: 150px;
   left: -75px;
   border-right: 1px solid #FFFFFF;
}
.chathead-multiple img:nth-child(2) {
   left: 75px;
   top:0;
   border-bottom: 1px solid #FFFFFF;
   border-left: 1px solid #FFFFFF;
   border-radius: 0 75px 0  0;
}
.chathead-multiple img:nth-child(3) {
   left: 75px;
   bottom:0;
   border-top: 1px solid #FFFFFF;
   border-left: 1px solid #FFFFFF;
   border-radius: 0 0 75px 0;
}

.chathead-single{
    width: 150px;
    height: 150px;
    border-radius: 75px;
    border: 4px solid #FFFFFF;
    box-shadow: 1px 1px 5px rgba(0,0,0,.5);
    position: relative;
    float: right;
    clear: right;
    margin-left: 65px; 
    margin-bottom: 25px;
    right: 50px;
    /* CANARY ONLY FEATURE NOW    */
    -webkit-shape-outside: circle(50%, 50%, 60%);  
}   