html{
    font-family: "Helvetica Neue";
	background-color: #000000;
	height: 100%;

}
body{

	min-height: 100%;
	width: 640px;
	margin: 0 auto;
	background: #d2d4dd;
	background-image: linear-gradient(90deg, transparent 30%, rgba(0,0,0,.02) 45%, rgba(0,0,0,.02) 55%, transparent 70%);
	background-size: 8px 8px;
	

}
