.spacer{
	padding: 30px;
}
.ios-icon img{
	width: 58px;
}

.ios-icon .count{

	/*style text*/
/*
	color: #FFFFFF;
	line-height: 1;
	text-align: center;
	font-size: 24px;
	font-weight: bold;
*/

    /*make a circle*/
/*
	display:inline-block;
	width: 25px;
	height: 25px;
	border-radius: 16px;
	border: 3px solid #FFFFFF;
*/

	
	/*handle background*/
/*	background-color: #FF0000;*/
/*
	background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #FFB7B3),color-stop(1, #FF0000));
	background-image: -webkit-linear-gradient(top, #FFB7B3, #FF0000);
	background-image: -moz-linear-gradient(top, #FFB7B3, #FF0000);
	background-image: -ms-linear-gradient(top, #FFB7B3, #FF0000);
	background-image: -o-linear-gradient(top, #FFB7B3, #FF0000);
	background-image: linear-gradient(top, bottom, #FFB7B3, #FF0000);
*/
	

	/*pull it over other img*/
/*	vertical-align: top;*/
/*	margin-left: -25px;
    margin-top: -10px;
    */
/*	box-shadow: -2px 5px 5px rgba(0, 0, 0, .7);*/

}